.layout {
  padding: 5px 15px;
  margin: 0.5em 0.5em;
  color: teal;
  font-size: 1em;
  background: transparent;
  border: 2px solid black;
  cursor: pointer;
  flex: 0 0 30%;
}

.title {
  padding: 0.5em 0;
  font-size: 1em;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon {
}
