* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  margin-top: 2rem;
  //border: 2px solid black;
}

.weather-page {
  display: flex;
  flex-direction: column;

  &__input {
    display: flex;
    justify-content: center;
    //border: 2px solid red;
  }

  &__output {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    //border: 2px solid green;

    &__location {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &__cards {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      // &__card {
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: center;
      //   margin: 1em 0.3em 0em 0.3em;
      //   width: 20dvw;
      //   height: 60dvh;
      // }
      // align-items: center;
      // margin: 1em 0.3em 0em 0.3em;
      // width: 20dvw;
      // height: 60dvh;
      //position: relative;
      //opacity: 0;
      //animation: test 3s 1s forwards;
      //animation-delay: 2s;
    }
  }
}

.test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1em;
  flex-shrink: 0.9;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: black;
    color: white;
    font-size: xx-large;
    margin: 1em 0.3em 0em 0.3em;
    width: 20dvw;
    height: 60dvh;
    border: 3px solid orange;
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}

@keyframes test {
  from {
    //position: relative;
    margin-top: 0.8em;
    margin-right: 0.8em;
    opacity: 0;
    //right: 0dvw;
  }
  // 25% {
  //   //position: absolute;
  //   //right: 50dvw-16dvw;
  //}
  to {
    //position: absolute;
    opacity: 1;
    margin-top: 0;
    margin-right: 0;
    //right: 100dvw-16dvw;
  }
  // 75% {
  //   position: absolute;
  //   left: 0px;
  //   right: 0px;
  //   //justify-content: right;
  // }
  // 100% {
  //   position: absolute;
  //   //justify-content: right;
  //   left: 100px;
  //   right: 100px;
  // }
}

@keyframes colorchange {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  70% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
/* @media screen and (min-width: 480px) {
} */

// @media screen and (max-width: 360px) {
//   .weather-page__output {
//     flex-direction: column;

//     &__card {
//       width: 90dvw;
//       height: 20dvh;
//     }
//   }
// }

// @media (max-width: 300px) {
//   .weather-page__output {
//     flex-direction: column;
//   }
// }
